.skill {
    width: 100%;
    height: 85vh;
    background: black;
    color: white;
    @media screen and (max-width: 900px) {
        height: 67vh;
    }
    .wrapper {
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            margin-top: 2vh;
        }
        .line {
            width: 10vw;
            height: 2px;
            background: white;
            margin-top: 1vh;
            margin-bottom: 5vh;
            @media screen and (max-width: 900px) {
                width: 30vw;
            }
        }
        .skill_card {
            display: flex;
            margin-top: 5vh;
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        .skill_card_phone {
            display: none;
            width: 70%;
            height: 100%;
            align-items: center;
            justify-self: center;
            @media screen and (max-width: 900px) {
                display: block;
            }
        }
    }
}