.skillCard {
    width: 15vw;
    height: 50vh;
    background: white;
    border-radius: 10px;
    color: black;
    margin: 0 2.5vw 0 2.5vw;
    @media screen and (max-width: 900px) {
        width: 40vw;
        height: 30vh;
    }
    .content {
        display: flex;
        flex-direction: column;
        padding-top: 27vh;
        padding-left: 1vw;
        @media screen and (max-width: 900px) {
            padding-top: 13vh;
            padding-left: 5vw;
        }
        .visible {
            display: flex;
            flex-direction: column;
            img {
                width: 3vw;
                height: 2.5vw;
                object-fit: cover;
                margin-bottom: 2vh;
            }
            .title {
                width: 10vw;
                font-weight: bold;
                margin-bottom: 1vh;
            }
            .viewMore {
                cursor: pointer;
                span {
                    font-size: 14px;
                    margin-right: 0.5vw;
                }
            }
        }
        .invisible {
            .clickView {
                margin-top: -15vh;
                font-size: 10px;
                @media screen and (max-width: 900px) {
                    margin-top: -5vh;
                    margin-left: -2vw;
                }
                .strengthen {
                    display: flex;
                    margin-bottom: 1vh;
                    .icon {
                        margin-right: 0.3vw;
                    }
                }
            }
        }
    }  
}
.upBit {
    margin-top: -3vh;
}
.downBit {
    margin-top: 3vh;
}