.wrap {
    margin: 10px;
    .post {
        display: flex;
        flex-direction: column;
        opacity: 0;
        width: 100%;
        cursor: pointer;
        img {
            border-radius: 10px;
        }
        span {
            padding: 10px 10px 35px 10px;
            font-size: 12px;
            font-weight: 600;
        }
    }
}