.project {
    display: flex;
    margin-bottom: 10vh;
    .left {
        margin-right: 5vw;
        @media screen and (max-width: 900px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 25vw;
            height: 30vh;
            object-fit: cover;
            border-radius: 2px;
            transition: all 0.3s ease-in-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        @media screen and (max-width: 900px) {
            img {
                width: 37vw;
                height: 10vh;
            }
        }
    }
    .center {
        width: 1px;
        height: 30vh;
        background: black;
        margin: 0 3.5vw 0 3.5vw;
        @media screen and (max-width: 900px) {
            height: 27vh;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        width: 30vw;
        span {
            font-weight: bold;
            margin-bottom: 3vh;
            @media screen and (max-width: 900px) {
                font-size: 12px;
            }
        }
        p {
            font-size: 12px;
            @media screen and (max-width: 900px) {
                font-size: 8px;
            }
        }
        a {
            text-decoration: none;
            color: black;
            margin-right: 1vw;
        }
        .git {
            margin-top: 2vh;
        }
    }
}