.navbar {
    width: 100%;
    height: 10vh;
    background: black;
    color: white;
    padding-top: 1vh;
    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            cursor: pointer;
            font-weight: bold;
            @media screen and (min-width: 2000px) {
                font-size: 20px;
            }
            .fairy {
                font-family: 'Playfair Display SC';
                letter-spacing: -0.135em;
            }
        }
        .page {
            margin-right: 5vw;
            .link {
                margin-left: 2vw;
                font-size: 14px;
                cursor: pointer;
            }
            .icons {
              margin-left: 2vw;
            }
            @media screen and (max-width: 900px) {
                display: none;
            }
        }
        .app__navbar-menu {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          position: relative;
        
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: var(--secondary-color);
          color: black;
        
        
          svg {
            width: 70%;
            height: 70%;
            color: white;
            cursor: pointer;
          }
        
          div {
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 5;
        
            padding: 1rem;
        
            width: 80%;
            height: 100vh;
            
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            
            background-color: white;
            background-size: cover;
            background-repeat: repeat;
        
            /* top box shadow */
            box-shadow: 0px 0px 20px rgba(168, 168, 168, 0.15);
        
            svg {
              width: 35px;
              height: 35px;
              color: var(--secondary-color);
              margin: 0.5rem 1rem;
              cursor: pointer;
            }
        
            ul {
              list-style: none;
              margin: 0;
              padding: 0;
              height: 100%;
              width: 100%;
        
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;
              flex-direction: column;
        
              li {
                margin: 1rem;
        
                a {
                  color: var(--gray-color);
                  text-decoration: none;
                  font-size: 1rem;
                  text-transform: uppercase;
                  font-weight: 500;
        
                  transition: all 0.3s ease-in-out;
        
                  &:hover {
                    color: var(--secondary-color);
                  }
                }
              }
            }
        
            @media screen and (min-width: 900px) {
              display: none;
            }
          }
        
          @media screen and (min-width: 900px) {
            display: none;
          }  
        }
    }
    .icons-login {
      position: absolute;
      right: 1.2vw;
      top: 1.8vh;
      cursor: pointer;
      @media screen and (max-width: 900px) {
        display: none;
      }
      .user {
        width: 2.6vw;
        cursor: pointer;
        border-radius: 50%;
        object-fit: cover;
      } 
      .logout {
        position: absolute;
        border: 1px solid white;
        background: black;
        color: white;
        width: 7vw;
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        right: -1vw;
        top: 6.4vh;
        z-index: 10;
        border-radius: 5px;
        opacity: 0;
      }
    }
}